@media (max-width: 1200px) {

}

@media (max-width: 991px) {

    .promo .promo_title {
        font-size: 38px;
    }
}

@media (max-width: 767px) {

    .flex__block_menu {
        width: 60%;
    }
    
    .menu__menu_item {
        margin-right: 15px;
    }

    .menu__menu_link {
        font-size: 14px;
    }

    .flex__contacts {
        width: 30%;
    }

    .contacts__phone {
        font-size: 14px;
    }

    .contacts__address {
        font-size: 12px;
    }

    .promo__title {
        width: 485px;
        font-size: 34px;
    }

    .promo__descr {
        width: 465px;
        font-size: 16px;
    }

    .promo__btn-white, .promo__btn-red {
        width: 180px;
    }

}

@media (max-width: 575px) {

    .flex__logo {
        order: 2;
        width: 33%;
    }

    .flex__block_menu {
        order: 1;
        width: 33%;
    }

    .block_menu__menu {
        display: none;
    }

    .block_menu__hamburger {
        display: block;
    }

    .flex__contacts {
        order: 3;
        width: 33%;
    }

    .promo__title {
        width: 370px;
        font-size: 26px;
    }

    .promo__descr {
        width: 350px;
        font-size: 12px;
    }

    .promo__btn-white, .promo__btn-red {
        width: 145px;
        height: 45px;
        font-size: 12px;
    }
    
    .menu__item {
        margin-right: 33px;
    }

}

@media (max-width: 411px) {

    .flex__block_menu {
        width: 30%;
    }

    .flex__logo {
        width: 30%;
    }

    .flex__contacts {
        width: 40%;
    }

    .promo__title {
        width: 285px;
        font-size: 20px;
    }

    .promo__descr {
        width: 285px;
    }

    .promo__btn-white, .promo__btn-red {
        width: 120px;
        height: 40px;
    }

    .promo__btn-white {
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 319px) {

    .flex__block_menu {
        width: 25%;
    }

    .flex__logo {
        width: 25%;
    }

    .flex__contacts {
        width: 50%;
    }

    .contacts__phone {
        font-size: 16px;
    }

    .contacts__address {
        font-size: 14px;
    }

    .promo__title {
        width: 255px;
        font-size: 18px;
    }

    .promo__descr {
        width: 240px;
        font-size: 10px;
    }

    .promo__btn-white, .promo__btn-red {
        width: 100px;
        height: 35px;
        font-size: 10px;
    }
}